{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|markdown }}
    <p>
        <a href="{% url "blog:post_share" post.id %}">
            分享一下
        </a>
    </p>
    {% with comment.cout as total_comments %}
        <h2>
            {{ total_comments }} comment {{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
        {% empty %}
        <p>目前没有评论。</p>
    {% endfor %}
    {% if new_comment %}
        <h2>您的评论已添加。</h2>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}
    <h2>类似电视</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
        {% empty %}
        没有类似的电视。
    {% endfor %}
    
{% endblock %}