{% extends "blog/base.html" %}

{% block title %} 分享一下{% endblock %}

{% block content %}
        {% if sent %}
            <h1>邮件成功发送</h1>
            <P>
                "{{ post.title }}" 已经分享给了 {{ cd.to }}.
            </P>
            {% for field in form %}
                <div>
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
        {% else %}
            <h1>通过邮箱分享 "{{ post.title }}" </h1>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="发送">
            </form>
        {% endif %}
{% endblock %}